<!DOCTYPE html>
<html>
    <head>
        <title>Flask-SQLite DBMS</title>
    </head>
    <style>
        .console-div{
            border: solid 1px #3300aa;
            color: #3300aa;
            
        }
        .query-div{
            border: solid 1px #aa00aa;
            color: #aa00aa;

        }
        thead{
            font-weight: bold;
        }
        td{
            padding: 2px;
        }
        input{
            border: 1px solid #333333;
            height: 20px;
            padding: 2px;
        }
    </style>
    <body>
         <h1>Flask-SQLite DBMS</h1>
         <div class="query=div">{{ query }}</div>
         <div class="console-div">{{ console_msg }}</div>
    </body>
    <script>
        
    </script>
</html>