<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div class="nav">
            <div class="nav-logo">
                <span>Flask-SQLite</span>
                <br/>
                <span>DBMS</span>
                <br/>
                <span>V1.0.0</span>
            </div>
            <div class="nav-menu">
                <a id="nav-btn-home" class="nav-btn" href="/">Home</a>
                <a id="nav-btn-table" class="nav-btn" href="/table">Table Management</a>
                <a id="nav-btn-spot-cam" class="nav-btn" href="/spot_cam">Spot CAM+</a>
                <!--<a id="nav_btn_setting" class="nav-btn" href="/setting">Setting</a>
                <a id="nav_btn_logout" class="nav-btn" onclick="logout()">Sign out</a> -->
                <div class="nav-footer">
                    <span style="color:#01a251;">
                        &#169; 2022 Namcheol Jung
                        <br/>
                        &lt;namcheoljung@naver.com&gt;
                    </span>
                    <br/>
                    <span style="color:#979797;">MIT License</span>
                </div>
            </div>
        </div>
        <div class="nav-narrow">
            <div class="nav-narrow-bar">
                <span class="nav-narrow-span-left" onclick="narrow_menu()">&#8659; Menu</span>
                <span class="nav-narrow-span-right">DBMS V1.0.0</span>
            </div>
            <div id="nav_narrow_menu" class="nav-narrow-menu">
                <a class="nav-narrow-btn" href="/">Home</a>
                <a class="nav-narrow-btn" href="/table">Table Management</a>
                <a class="nav-narrow-btn" href="/spot_cam">Spot CAM+</a>
                <!--<a class="nav-narrow-btn" href="/setting">Setting</a>
                <a class="nav-narrow-btn" onclick="logout()">Sign out</a> -->
            </div>
        </div>
        <div class="content">
            <div id="console" class="console" style="display:none;"></div>
            {% block body %}{% endblock %}
        </div>       
    </body>
    <script>
        var console_div = document.getElementById("console"); 
        {% if console_msg -%}
            console_div.style.display = "block";
            console_div.innerHTML = "Console Message: {{ console_msg }}";
        {%- endif %}
        
        function logout(){
            if(confirm("Confirm sign out")){
                location.href="/logout";
            } else{}
        }

        var menu_flag = true;
        function narrow_menu(){
            if(menu_flag){
                document.getElementById("nav_narrow_menu").style.display = "block";
            } else{
                document.getElementById("nav_narrow_menu").style.display = "none";
            }
            menu_flag = !menu_flag;
        }
    </script>
</html>