{% extends "layout.html" -%}
{%- block title %}Table Status{% endblock -%}
{%- block body -%}
<h1>Table Management</h1>
<h3>Table Status</h3>
<hr/>
<div id="init-div">
    <select id="select-table" onchange="column_list()">
        <option value="" selected></option>
        {% for table in table_list -%}
            <option value="{{ table[0] }}">{{ table[0] }}</option>
        {%- endfor %}
    </select>
    <button onclick="init_table()">Submit</button>
</div>
<br/>
{% for table in table_list -%}
    <div id="column-list-{{ table[0] }}" class="query-div" style="display:none;">
        Columns of "{{ table[0] }}":&nbsp;&nbsp;&nbsp;
        {% for column in table[1] -%}
            {{ column }}&nbsp;&nbsp;
        {%- endfor %}
    </div>
{%- endfor %}
<div id="column-list-" style="display:none;">Dummy</div>
<!--div id="create-table-div" style="display:none;">
    <div id="create-table-query" class="query-div"></div>
    <br/>
    <div style="text-align:right;">
        <button onclick="add_row('create-table')">Add Field</button>
        <button onclick="execute_query()">QUERY?</button>
    </div>
    <br/>
    <table id="create-table" style="text-align:center;" onchange="create_table_update_query()">
        <thead>
            <td width="183px">Field Name</td>
            <td width="93px">Type</td>
            <td width="110px">Primary Key</td>
            <td width="110px">Autoincrement</td>
            <td width="110px">Not Null</td>
        </thead>
        <tbody>
        </tbody>
    </table>
</div-->
<script>
    document.getElementById("nav-btn-table-status").classList.add('nav-btn-selected');
    
    var xhr = new XMLHttpRequest();
    let QUERY = "";
    let create_table_row_no = 0;
    
    function column_list(){
        var table_list = [{% for table in table_list %}"{{ table[0] }}",{%- endfor %}""];
        var table_name = document.getElementById("select-table").value;
        for(var i = 0;i < table_list.length;i++){
            if(table_name != ""){
                if(table_list[i] == table_name){document.getElementById("column-list-" + table_list[i]).style.display = "block";}
                else{document.getElementById("column-list-" + table_list[i]).style.display = "none";}
            } else{document.getElementById("column-list-" + table_list[i]).style.display = "none";}
        }
    }

    function init_table(){
        if(document.getElementById("create-table-name").value == ""){
            alert("Input Table Name");
        } else{
            QUERY = "CREATE TABLE " + document.getElementById("create-table-name").value;
            document.getElementById("create-table-query").innerHTML = QUERY;
            document.getElementById("create-table-init-div").style.display = "none";
            document.getElementById("create-table-div").style.display = "block";
        }
    }

    function create_table_update_query(){
        var QUERY_mod = QUERY + "(";
        for(var i = 0;i < create_table_row_no;i++){
            QUERY_mod = QUERY_mod + document.getElementById("create-table-field-" + String(i)).value;
            QUERY_mod = QUERY_mod + " " + document.getElementById("create-table-type-" + String(i)).value;
            if(document.getElementById("create-table-pk-" + String(i)).checked){QUERY_mod = QUERY_mod + " PRIMARY KEY";}
            if(document.getElementById("create-table-auto-" + String(i)).checked){QUERY_mod = QUERY_mod + " AUTOINCREMENT";}
            if(document.getElementById("create-table-nn-" + String(i)).checked){QUERY_mod = QUERY_mod + " NOT NULL";}
            if(i == create_table_row_no - 1){QUERY_mod = QUERY_mod + ");";}
            else{QUERY_mod = QUERY_mod + ", ";}
        }
        document.getElementById("create-table-query").innerHTML = QUERY_mod;
    }

    function add_row(table_id){
        
        const table = document.getElementById(table_id);
        const newRow = table.insertRow();
        const newCell1 = newRow.insertCell(0);
        const newCell2 = newRow.insertCell(1);
        const newCell3 = newRow.insertCell(2);
        const newCell4 = newRow.insertCell(3);
        const newCell5 = newRow.insertCell(4);

        newCell1.innerHTML = '<input id="create-table-field-' + String(create_table_row_no) + '" type="text"">';
        newCell2.innerHTML = '<select id="create-table-type-' + String(create_table_row_no) + '"><option value="TEXT">TEXT</option><option>NUMERIC</option><option value="INTEGER">INTEGER</option><option value="REAL">REAL</option><option value="NONE">NONE</option></select>'
        newCell3.innerHTML = '<input id="create-table-pk-' + String(create_table_row_no) + '" type="checkbox">';
        newCell4.innerHTML = '<input id="create-table-auto-' + String(create_table_row_no) + '" type="checkbox">';
        newCell5.innerHTML = '<input id="create-table-nn-' + String(create_table_row_no) + '" type="checkbox">';

        create_table_row_no++;
        console.log(create_table_row_no)
    }

    function execute_query(){
        url = "/execute_query"
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = () => {
            if (xhr.status == 200 && xhr.readyState == xhr.DONE) {
                var response = xhr.responseText;
                console_div.style.display = "block";
                console_div.innerHTML = "Console Message: " + response;
            }
        }
        var data = {
            "query": document.getElementById("create-table-query").innerHTML
        };
        xhr.send(JSON.stringify(data));
    }
</script>
{%- endblock %}